<table>
    <tr>
        <td>
            <a href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/images/logo.png" height="60" x alt="">
            </a>
        </td>
        <td><a href="{{site.baseurl}}/navigation/Dexcom-lifestyle-minigame/">CSSE</a></td>
        <td><a href="{{site.baseurl}}/navigation/section/foodchoice/">CSP</a></td>
        <td><a href="{{site.baseurl}}/navigation/section/csa">CSA</a></td>
        <td><a href="{{site.baseurl}}/README4YML">Readme</a></td>
        <td><a href="{{site.baseurl}}/navigation/about">About</a></td>
    </tr>
</table>
