<table>
    <tr>
        <td>
            <a href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/images/logo.png" height="60" x alt="">
            </a>
        </td>
        <td><a href="{{site.baseurl}}/Dexcom-lifestyle-minigame/">Lifestyle Mini Game</a></td>
        <td><a href="{{site.baseurl}}/foodchoice/">Food Choice Mini game</a></td>
        <td><a href="{{site.baseurl}}/pintheneedle/">Pin the Needle</a></td>
        <td><a href="{{site.baseurl}}/titanic/">Titanic</a></td>
        <td><a href="{{site.baseurl}}/prediction">Prediction</a></td>       
        <td><a href="{{site.baseurl}}/logout">Logout</a></td>
    </tr>
</table>
