<style>
    .navbar {
        /*background-color: #00B140; /* Dexcom green */
        color: white;
        padding: 10px 30px 10px 10px;
        font-family: Arial, sans-serif;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }

    .logo {
        height: 60px;
        transition: transform 0.3s;
        margin-right: 25px;
    }

    .logo:hover {
        transform: scale(1.05);
    }

    .logout-btn {
        background-color: #e74c3c;
        padding: 8px 15px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        border-radius: 4px;
        transition: background-color 0.3s;
        border: none;
        margin-left: 10px;
    }

    .logout-btn:hover {
        background-color: #c0392b;
    }
</style>

<div class="navbar">
    <!--<a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/images/dexcom_favicon.ico" class="logo" alt="Dexcom Logo">
    </a>-->
    <a href="{{site.baseurl}}/logout" class="logout-btn">Logout</a>
</div>